# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Makefile
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
build/
sql.output
sql.tab.c
sql.tab.h
sql.yy.c

# Log files
logs/
*.log

# Database files
database/*
!database/sys_db.database
!database/mysql_user.thead
!database/mysql_user.tdata
!database/mysql_privileges.thead
!database/mysql_privileges.tdata
!database/.gitignore

DBMS-25Fall.lnk
init_auth.sql
win_flex_bison-2.5.25/